/.vscode/**
/test/bin/**
/.claude/**
/extras/check/__pycache__/**
/extras/check/.helios_cache/**
!.gitignore
!.gitattributes
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/test/bin/.gitkeep