/.vscode/**
/test/bin/**
/.claude/**
__pycache__
.check_cache
.claude
/test/analysis-report.json
/test/test-report.json
!.gitignore
!.gitattributes
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/test/bin/.gitkeep